@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-primary: rgb(0 87 48);
  --color-secondary: rgb(5 113 48);
  --color-light1: #caffcd;
  --color-border1: rgba(0, 87, 48, 0.2);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--color-primary);
  --color-secondary: var(--color-secondary);
  --color-light1: var(--color-light1);
  --color-border1: var(--color-border1);
  --font-sans: var(--font-inter);
  --font-serif: var(--font-sorts-mill-goudy);
  --font-headings: var(--font-outfit);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
